.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.elevator-system {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.floor-indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.call-button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: none;
}

.call-button.waiting {
  background-color: red;
}

.elevators {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  position: relative;
  height: 530px;
}

.elevator {
  width: 50px;
  height: 50px;
  background-color: "white";
  position: relative;
  transition: transform 0.5s ease;
}

.elevator.moving {
  background-color: #939393";
}

.elevator.arrived {
  background-color: green;
  color: white;
}

.elevator-icon {
  padding: 5px
}
